{% extends 'base.html.twig' %}

{% block title %}Home
{% endblock %}

{% block body %}
	<div class="container mx-auto p-8">
		{% for type, messages in app.flashes %}
			<div class="bg-green-100 border border-green-400 text-green-700 px-4 py-3 rounded relative mb-4 text-center" role="alert">
				{% for message in messages %}
					<p>{{ message }}</p>
				{% endfor %}
			</div>
		{% endfor %}
		<h1 class="text-3xl font-bold text-center mb-8">Latest Blog Posts</h1>
		<div class="bg-white rounded-lg shadow-md p-6">
			<div class="grid md:grid-cols-3 gap-8">
				{% include "article/_articles.html.twig" %}
			</div>
			<a href="{{path('show_all_articles')}}" class="font-semibold leading-6 text-gray-900 hover:text-gray-700 mt-10 block text-center">Voir tous les articles</a>
		</div>
	</div>
{% endblock %}
