<footer class="bg-gray-800 text-white mt-10">
	<div class="max-w-7xl mx-auto py-6 px-4 sm:px-6 lg:px-8">
		<div class="text-center text-gray-400 text-sm mt-4">
			©
			{{ "now"|date("Y") }}
			Insight Blog. Tous droits réservés.
		</div>
	</div>
</footer>
